<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet"
    href="http://localhost:1234/style.e0c02e61.css">
  <title>Preview Layout</title>
  <svg aria-hidden="true" style="position:absolute;width:0;height:0"
    xmlns="http://www.w3.org/2000/svg" overflow="hidden">
    <defs>
      <symbol id="icon-bookmark" viewBox="0 0 32 32">
        <path d="M6 0v32l10-10 10 10V0z"></path>
      </symbol>
      <symbol id="icon-warning" viewBox="0 0 32 32">
        <path
          d="M16 2.899l13.409 26.726H2.59L15.999 2.899zM16 0c-.69 0-1.379.465-1.903 1.395L.438 28.617C-.608 30.477.282 32 2.416 32h27.166c2.134 0 3.025-1.522 1.978-3.383L17.901 1.395C17.378.465 16.688 0 15.998 0z">
        </path>
        <path
          d="M18 26a2 2 0 1 1-3.999.001A2 2 0 0 1 18 26zM16 22a2 2 0 0 1-2-2v-6a2 2 0 1 1 4 0v6a2 2 0 0 1-2 2z">
        </path>
      </symbol>
      <symbol id="icon-info" viewBox="0 0 32 32">
        <path
          d="M14 9.5c0-.825.675-1.5 1.5-1.5h1c.825 0 1.5.675 1.5 1.5v1c0 .825-.675 1.5-1.5 1.5h-1c-.825 0-1.5-.675-1.5-1.5v-1zM20 24h-8v-2h2v-6h-2v-2h6v8h2z">
        </path>
        <path
          d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 29C8.82 29 3 23.18 3 16S8.82 3 16 3s13 5.82 13 13-5.82 13-13 13z">
        </path>
      </symbol>
      <symbol id="icon-blocked" viewBox="0 0 32 32">
        <path
          d="M27.314 4.686C24.292 1.664 20.274 0 16 0S7.708 1.664 4.686 4.686C1.664 7.708 0 11.726 0 16s1.664 8.292 4.686 11.314C7.708 30.336 11.726 32 16 32s8.292-1.664 11.314-4.686C30.336 24.292 32 20.274 32 16s-1.664-8.292-4.686-11.314zM28 16c0 2.588-.824 4.987-2.222 6.949L9.051 6.222A11.93 11.93 0 0 1 16 4c6.617 0 12 5.383 12 12zM4 16c0-2.588.824-4.987 2.222-6.949l16.727 16.727A11.93 11.93 0 0 1 16 28C9.383 28 4 22.617 4 16z">
        </path>
      </symbol>
      <symbol id="icon-checkmark" viewBox="0 0 32 32">
        <path d="M27 4L12 19l-7-7-5 5 12 12L32 9z"></path>
      </symbol>
      <symbol id="icon-embed2" viewBox="0 0 40 32">
        <path
          d="M26 23l3 3 10-10L29 6l-3 3 7 7zM14 9l-3-3L1 16l10 10 3-3-7-7zM21.916 4.704l2.171.592-6 22.001-2.171-.592 6-22.001z">
        </path>
      </symbol>
      <symbol id="icon-search" viewBox="0 0 32 32">
        <path
          d="M31.008 27.231l-7.58-6.447c-.784-.705-1.622-1.029-2.299-.998a11.954 11.954 0 0 0 2.87-7.787c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-.031.677.293 1.515.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007.23s.997-2.903-.23-4.007zM12 20a8 8 0 1 1 0-16 8 8 0 0 1 0 16z">
        </path>
      </symbol>
      <symbol id="icon-film" viewBox="0 0 32 32">
        <path
          d="M0 4v24h32V4H0zm6 22H2v-4h4v4zm0-8H2v-4h4v4zm0-8H2V6h4v4zm18 16H8V6h16v20zm6 0h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4V6h4v4zm-18 0v12l8-6z">
        </path>
      </symbol>
      <symbol id="icon-terminal" viewBox="0 0 32 32">
        <path
          d="M0 2v28h32V2H0zm30 26H2V4h28v24zM28 6H4v20h24V6zM14 16h-2v2h-2v2H8v-2h2v-2h2v-2h-2v-2H8v-2h2v2h2v2h2v2zm8 4h-6v-2h6v2z">
        </path>
      </symbol>
      <symbol id="icon-twitter" viewBox="0 0 32 32">
        <path
          d="M32 7.075a12.941 12.941 0 0 1-3.769 1.031 6.601 6.601 0 0 0 2.887-3.631 13.21 13.21 0 0 1-4.169 1.594A6.565 6.565 0 0 0 22.155 4a6.563 6.563 0 0 0-6.563 6.563c0 .512.056 1.012.169 1.494A18.635 18.635 0 0 1 2.23 5.195a6.56 6.56 0 0 0-.887 3.3 6.557 6.557 0 0 0 2.919 5.463 6.565 6.565 0 0 1-2.975-.819v.081a6.565 6.565 0 0 0 5.269 6.437 6.574 6.574 0 0 1-2.968.112 6.588 6.588 0 0 0 6.131 4.563 13.17 13.17 0 0 1-9.725 2.719 18.568 18.568 0 0 0 10.069 2.95c12.075 0 18.681-10.006 18.681-18.681 0-.287-.006-.569-.019-.85A13.216 13.216 0 0 0 32 7.076z">
        </path>
      </symbol>
      <symbol id="icon-github" viewBox="0 0 32 32">
        <path
          d="M16 .395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182.8.148 1.094-.347 1.094-.77 0-.381-.015-1.642-.022-2.979-4.452.968-5.391-1.888-5.391-1.888-.728-1.849-1.776-2.341-1.776-2.341-1.452-.993.11-.973.11-.973 1.606.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33.143-1.034.558-1.74 1.016-2.14-3.554-.404-7.29-1.777-7.29-7.907 0-1.747.625-3.174 1.649-4.295-.166-.403-.714-2.03.155-4.234 0 0 1.344-.43 4.401 1.64a15.353 15.353 0 0 1 4.005-.539c1.359.006 2.729.184 4.008.539 3.054-2.07 4.395-1.64 4.395-1.64.871 2.204.323 3.831.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895.574.497 1.085 1.47 1.085 2.963 0 2.141-.019 3.864-.019 4.391 0 .426.288.925 1.099.768C27.421 29.457 32 23.462 32 16.395c0-8.837-7.164-16-16-16z">
        </path>
      </symbol>
    </defs>
  </svg>

</head>

<body>

  {{{ yield }}}

</body>

</html>
