<p class="a-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  Hic architecto recusandae, <code>ducimus minus possimus</code> praesentium,
  dolorum quos <strong>facilis ad libero</strong> aut impedit quidem
  <em>dignissimos aspernatur</em> velit cum laboriosam ea voluptas.</p>
