<div class="a-video">
  <iframe class="a-video__iframe"
    data-src="https://www.youtube.com/embed/e1_r2MWtAIs" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen=""
    src="https://www.youtube.com/embed/e1_r2MWtAIs"></iframe c>
</div>
