.l-main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: var(--spaceL);
  height: 100%;

  &::before,
  &::after {
    content: '';
    background-color: var(--colorPrimary);
    grid-row: 1;
    width: calc(100% + var(--spaceL));
    z-index: -1;
  }

  &::before {
    grid-column: 1;
  }

  &::after {
    grid-column: 3;
    position: relative;
    left: calc(var(--spaceL) * -1);
  }

  & > header {
    grid-column: 2;
  }

  & > main {
    padding: var(--spaceL) 0;
    grid-column: 2;
    grid-row: 2;
  }

  & > footer {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
}
