<a class="a-resource" href="#" target="blank">
  <svg class="a-resource__icon" aria-hidden="true">
    <use xlink:href="#icon-bookmark"></use>
  </svg>
  <span class="a-resource__label">Link to a resource</span>
</a>
