@import 'vendors/reset.scss';

@import '00-protons/colors.scss';
@import '00-protons/fonts.scss';
@import '00-protons/medias.scss';
@import '00-protons/misc.scss';
@import '00-protons/spaces.scss';

@import '01-atoms/card-title.scss';
@import '01-atoms/checkmark.scss';
@import '01-atoms/code.scss';
@import '01-atoms/icon.scss';
@import '01-atoms/footnote.scss';
@import '01-atoms/image.scss';
@import '01-atoms/letters.scss';
@import '01-atoms/number.scss';
@import '01-atoms/indication.scss';
@import '01-atoms/paragraph.scss';
@import '01-atoms/resource.scss';
@import '01-atoms/title.scss';
@import '01-atoms/triangle.scss';
@import '01-atoms/video.scss';

@import '02-molecules/chapter-title.scss';
@import '02-molecules/codepen.scss';
@import '02-molecules/codes.scss';
@import '02-molecules/correction.scss';
@import '02-molecules/figure.scss';
@import '02-molecules/icon-link.scss';
@import '02-molecules/info.scss';
@import '02-molecules/part-title.scss';
@import '02-molecules/resources.scss';
@import '02-molecules/question.scss';
@import '02-molecules/word.scss';

@import '03-organisms/chapter.scss';
@import '03-organisms/chapter-part.scss';
@import '03-organisms/header.scss';
@import '03-organisms/footer.scss';

@import '04-layouts/main.scss';
