<section class="o-chapterPart o-chapterPart--open">
  {{> @part-title--open }}

  <div class="o-chapterPart__content">
    <div class="o-chapterPart__intro">
      <div class="o-chapterPart__theory">
        {{> @paragraph }}
        {{> @codes }}
      </div>

      <aside class="o-chapterPart__aside">
        {{> @info }}
        {{> @resources }}
      </aside>
    </div>

    {{> @codepen }}
    {{> @question }}
    {{> @figure }}
  </div>
</section>
