:root {
  --colorText: #ebebeb;
  --colorMain: #fafafa;
  --colorActive: #ff886f;
  --colorInactive: #949495;
  --colorMenu: #1F1E21;

  --colorGradientOrange: linear-gradient(#fb876c, #fc64ae);
  --colorGradientPurple: linear-gradient(#554cfb, #9e25fc);
}