@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Roboto', '../assets/fonts/Roboto/Roboto-Regular.woff', normal, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Medium.woff', medium, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Italic.woff', normal, italic);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Bold.woff', bold, italic);

:root {
  --fontFamilyMain: Roboto, sans-serif;
  --fontFamilyCode: monospace;

  --fontSizeL: 24px;
  --fontSizeM: 16px;
  --fontSizeS: 12px;
  --fontSizeXS: 8px;

  --fontWeightBold: bold;
  --fontWeightMedium: medium;
  --fontWeightThin: thin;
  --fontWeightRegular: normal;

  --fontStyleItalic: italic;

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}