@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Oswald', '../assets/fonts/Oswald/Oswald-Regular', 400, normal);
@include font('Oswald', '../assets/fonts/Oswald/Oswald-Light', 300, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Regular', 400, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Bold', 900, normal);
@include font('Roboto', '../assets/fonts/Roboto/Roboto-Italic', 400, italic);

:root {
  --fontFamilyTitle: Oswald, sans-serif;
  --fontFamilyMain: Roboto, sans-serif;
  --fontFamilyCode: monospace;

  --fontSizeXXL: 80px;
  --fontSizeXL: 32px;
  --fontSizeL: 24px;
  --fontSizeM: 18px;
  --fontSizeS: 14px;

  --fontWeightBold: 900;
  --fontWeightThin: 300;

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}
