<div class="a-letters a-letters--success">
  <input class="a-letters__input" maxlength="1">
  <input class="a-letters__input" maxlength="1">
  <input class="a-letters__input" maxlength="1">
  <input class="a-letters__input a-letters__input--highlight" maxlength="1">
  <input class="a-letters__input" maxlength="1">
</div>
