<div class="a-letters a-letters--success">
  <div class="a-letters__input">H</div>
  <div class="a-letters__input">E</div>
  <div class="a-letters__input">L</div>
  <div class="a-letters__input">L</div>
  <div class="a-letters__input">O</div>
</div>
