<div class="a-codepenIframe">
  <div class="cp_embed_wrapper">
    <iframe name="cp_embed_1"
      src="https://codepen.io/bcalou/embed/Pdreva?height=400&amp;theme-id=0&amp;slug-hash=Pdreva&amp;default-tab=html%2Cresult&amp;user=bcalou&amp;pen-title=HTML%2FCSS%20-%20Notre%20premi%C3%A8re%20balise&amp;name=cp_embed_1"
      scrolling="no" frameborder="0" height="400" allowtransparency="true"
      allowfullscreen="true" allowpaymentrequest="true"
      title="HTML/CSS - Notre première balise" class="cp_embed_iframe"
      style="width: 100%; overflow:hidden; display:block;" loading="lazy"
      id="cp_embed_Pdreva"></iframe>
  </div>
  <script src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
