.o-chapterPart__content {
  display: none;
  margin-top: var(--spaceM);

  .o-chapterPart--open & {
    display: block;
  }

  &,
  .o-chapterPart__intro,
  .o-chapterPart__theory,
  .o-chapterPart__aside {
    & > * + * {
      margin-top: var(--spaceM);
    }
  }

  & > * + * {
    @include large {
      margin-top: var(--spaceL);
    }
  }
}

@include large {
  .o-chapterPart__intro {
    display: flex;
    align-items: flex-end;
  }

  .o-chapterPart__theory {
    flex: 3;
    margin-right: var(--spaceL);
  }

  .o-chapterPart__aside {
    flex: 2;
  }
}
