.o-footer {
  display: flex;
  align-items: center;
  background-color: var(--colorPrimary);
  padding: var(--spaceM);

  & > * + * {
    margin-left: var(--spaceS);
  }

  & > :last-child {
    margin-left: auto;
  }
}
