.o-header {
  background-color: var(--colorPrimary);
  padding: var(--spaceM) 0;
}

.o-header--chapter {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: var(--spaceM);
  }

  @include medium {
    flex-direction: row;
    align-items: flex-end;

    & > * + * {
      margin-left: var(--spaceM);
    }

    & > :last-child {
      margin-left: auto;
    }
  }
}
