.m-codepen {
  position: relative;
}

.m-codepen__openTip {
  display: none;

  @include wide {
    position: absolute;
    top: var(--spaceXS);
    right: 0;
    transform: translateX(100%);
    max-width: 20ch;
    display: flex;
    align-items: center;

    & > * {
      margin-left: var(--spaceS);
    }
  }
}
