.m-iconLink {
  opacity: 0.7;
  transition: transform var(--transitionDuration),
    opacity var(--transitionDuration);
  will-change: transform, opacity;

  &:hover {
    transform: scale(1.2);
    opacity: 1;
  }
}
