.m-info {
  background-color: var(--colorInfo);
  border-radius: var(--borderRadius);
  padding: var(--spaceM);
}

.m-info--warning {
  background-color: var(--colorWarning);
}

.m-info__title {
  display: flex;
  margin-bottom: var(--spaceS);

  & > * + * {
    margin-left: var(--spaceS);
  }
}
