.m-question {
  border-radius: var(--borderRadius);
  background-color: var(--colorQuestion);
  padding: var(--spaceM);

  @include medium {
    display: flex;
    align-items: center;
  }

  .a-icon {
    display: none;

    @include medium {
      display: block;
      flex-shrink: 0;
      margin-right: var(--spaceM);
    }
  }
}

.m-question__text {
  flex-basis: 66%;
  display: flex;
}

.m-question__answer {
  flex-basis: 37%;
  text-align: center;
  margin-top: var(--spaceL);

  @include medium {
    margin-top: 0;
    margin-left: var(--spaceL);
  }

  & > * + * {
    margin-top: var(--spaceS);
  }
}
