<div class="m-question">
  <div class="m-question__text">
    {{> @icon--large }}
    {{> @paragraph }}
  </div>

  <div class="m-question__answer">
    {{> @card-title }}
    {{> @letters }}
    {{> @indication }}
  </div>
</div>
