@keyframes checked {
  50% {
    transform: scale(1.2);
  }
}

.a-checkmark {
  user-select: none;
}

.a-checkmark__input {
  display: none;

  &:checked ~ .a-checkmark__label .a-checkmark__icon {
    filter: none;
    animation: checked 0.5s;
  }
}

.a-checkmark__icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  fill: var(--colorSuccess);
  filter: grayscale(100%);
}
