.a-code {
  font-size: var(--fontSizeM);
}

.a-code__language {
  font-family: var(--fontFamilyTitle);
  color: var(--colorCode);
  margin-bottom: var(--spaceXS);
}

.a-code__content {
  font-family: var(--fontFamilyCode);
  line-height: var(--lineHeightMain);
  white-space: pre-line;
  color: var(--colorTextMain);
}
