.a-icon {
  opacity: 0.5;
  width: 18px;
  height: 18px;
}

.a-icon--large {
  opacity: 0.3;
  width: 50px;
  height: 50px;
}

.a-icon--reversed {
  fill: var(--colorTextReversed);
  opacity: 1;
}

.a-icon--primary {
  fill: var(--colorPrimary);
  opacity: 1;
}
