.a-indication {
  color: var(--colorTextSecondary);
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeS);
  line-height: var(--lineHeightMain);
}

.a-indication--primary {
  color: var(--colorPrimary);
}
