.a-letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.a-letters__input {
  margin: 0 1px 2px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: var(--fontSizeM);
  border: 1px solid var(--colorInputBorder);
  text-align: center;
  font-family: var(--fontFamilyCode);

  .a-letters--success & {
    background-color: var(--colorSuccessLight);
  }
}

.a-letters__input--highlight {
  background-color: var(--colorInfo);
}
