.a-paragraph {
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeM);
  line-height: var(--lineHeightMain);

  code {
    font-family: var(--fontFamilyCode);
    font-weight: var(--fontWeightBold);
  }

  strong {
    font-weight: var(--fontWeightBold);
  }

  em {
    font-style: italic;
  }
}
