.a-resource {
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: var(--lineHeightLarge);
}

.a-resource__icon {
  fill: var(--colorPrimary);
  height: 1em;
  width: 1em;
  margin-right: var(--spaceXS);
}

.a-resource__label {
  color: var(--colorPrimary);
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeM);
  text-decoration: underline;
}
