.a-title {
  color: var(--colorMain);
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeL);
}

.a-title--level2 {
  font-size: var(--fontSizeM);
}

.a-title--level3 {
  font-size: var(--fontSizeS);
}

.a-title--level4 {
  font-size: var(--fontSizeXS);
}