.a-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent var(--colorPrimary) transparent;
  transition: transform var(--transitionDuration);
  will-change: transform;
}

.a-triangle--right {
  transform: rotate(90deg);
}

.a-triangle--down {
  transform: rotate(180deg);
}

.a-triangle--left {
  transform: rotate(270deg);
}
