<div class="a-checkmark">
  <input class="a-checkmark__input" type="checkbox" id="checkbox">
  <label class="a-checkmark__label" for="checkbox" aria-label="Cocher">
    <svg class="a-checkmark__icon" aria-hidden="true">
      <use xlink:href="#icon-checkmark"></use>
    </svg>
  </label>
</div>
